<nav class="navbar">
  <div class="">
    <img src="../../assets/images/logo.svg" alt="logo" />
  </div>
  <div class="navbar-btns">
    <div class="arrow-down-wrapper">
      <div class="select-font">{{ font }}</div>
      <img
        (click)="onDropdownClick()"
        class="arrow-down"
        src="../../assets/images/icon-arrow-down.svg"
        alt="arrow-down"
      />
      <app-dropdown
        *ngIf="isDropdownOpen"
        (selectFontEvent)="onSetFontTheme($event)"
        [isLightTheme]="isLightTheme"
      ></app-dropdown>
    </div>
    <div class="divider"></div>
    <div class="switch-theme">
      <img
        *ngIf="isLightTheme"
        (click)="onThemeSwitchChange()"
        class="moon"
        src="../../assets/images/icon-moon.svg"
        alt="moon"
      />
      <img
        *ngIf="!isLightTheme"
        (click)="onThemeSwitchChange()"
        class="sun"
        src="../../assets/images/icon-sun.svg"
        alt="sun"
      />
    </div>
  </div>
</nav>
