<nav class="navbar">
  <div class="">
    <img src="../../assets/images/logo.svg" alt="logo" />
  </div>
  <div class="navbar-btns">
    <div class="select-font">Sans Serif</div>
    <img
      class="arrow-down"
      src="../../assets/images/icon-arrow-down.svg"
      alt="arrow-down"
    />
    <div class="divider"></div>
    <div class="switch-theme">
      <img
        *ngIf="isLightTheme"
        (click)="onThemeSwitchChange()"
        class="moon"
        src="../../assets/images/icon-moon.svg"
        alt="moon"
      />
      <img
        *ngIf="!isLightTheme"
        (click)="onThemeSwitchChange()"
        class="sun"
        src="../../assets/images/icon-sun.svg"
        alt="sun"
      />
    </div>
  </div>
</nav>

<!-- <button (click)="onSetFontTheme('sans-serif')">sans-serif</button>
<button (click)="onSetFontTheme('serif')">serif</button>
<button (click)="onSetFontTheme('mono')">mono</button> -->
