.navbar {
  width: 100%;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-down-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.select-font {
  font-weight: bold;
}

.arrow-down {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.divider {
  background-color: var(--quaternary-color);
  width: 1px;
  height: 25px;
  margin-right: 20px;
}

.switch-theme {
  display: flex;
  align-items: center;
  cursor: pointer;
}
