.text-1 {
  font-family: "inconsolata";
}

.text-2 {
  font-family: "inter";
  color: var(--red);
}

.text-3 {
  font-family: "lora";
  color: var(--purple);
}

.container {
  border: 1px solid red;
  background-color: var(--main-content-background-color);
}

.heading {
  color: var(--main-content-text-color);
}

.title-1 {
  font-family: var(--font);
}
