<div class="container">
  <app-navbar></app-navbar>
</div>
<!-- <button (click)="onSetFontTheme('sans-serif')">sans-serif</button>
<button (click)="onSetFontTheme('serif')">serif</button>
<button (click)="onSetFontTheme('mono')">mono</button> -->

<!-- <div class="text-1">hello world</div>
<div class="text-2">hello world</div>
<div class="text-3">hello world</div>

<button (click)="onSetFontTheme('sans-serif')">sans-serif</button>
<button (click)="onSetFontTheme('serif')">serif</button>
<button (click)="onSetFontTheme('mono')">mono</button>
<h1 class="title-1">Aliquam</h1>

<hr />
<div class="container">
  <button (click)="onThemeSwitchChange()">
    {{ isLightTheme ? "light" : "dark" }}
  </button>
  <h1 class="heading">Welcome to Code Beyond Limits</h1>
</div> -->

<!-- <router-outlet /> -->
