<div class="text-1">hello world</div>
<div class="text-2">hello world</div>
<div class="text-3">hello world</div>

<button (click)="onSetFontTheme('inconsolata')">inconsolata</button>
<button (click)="onSetFontTheme('inter')">inter</button>
<button (click)="onSetFontTheme('lora')">lora</button>
<h1 class="title-1">this is a title</h1>

<!-- <router-outlet /> -->
<hr />
<div class="container">
  <button (click)="onThemeSwitchChange()">
    {{ isLightTheme ? "light" : "dark" }}
  </button>
  <h1 class="heading">Welcome to Code Beyond Limits</h1>
</div>

<app-hello></app-hello>
