<div class="container">
  <app-navbar></app-navbar>
  <app-search-box (onSearchEvent)="onSearch($event)"></app-search-box>

  <div *ngIf="isLoading" class="loader-wrapper">
    <span class="loader"></span>
    <div class="">Searching...</div>
  </div>

  <div *ngIf="error && !isLoading" class="error">
    <h3>No Definitions Found</h3>
    <p>
      Sorry pal, we couldn't find definitions for the word you were looking for.
    </p>
  </div>

  <div *ngIf="definitions && !isLoading" class="">
    <app-definition [definitions]="definitions"></app-definition>
  </div>
</div>
