.title-1 {
  font-family: "inconsolata";
}

.title-2 {
  font-family: "inter";
  color: var(--red);
}

.title-3 {
  font-family: "lora";
  color: var(--purple);
}

.heading-1 {
  background-color: var(--main-content-background-color);
  color: var(--main-content-text-color);
  font-family: var(--font);
}
